@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    background-color: #061638;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container {
    width: 90%;
    max-width: 800px;
    margin-top: 30px;
    background: #131c31;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.unit-btn {
    background: none;
    color: white;
    border: 1px solid #555;
    border-radius: 8px;
    padding: 6px 12px;
    cursor: pointer;
}

h2 {
    text-align: center;
    margin: 20px 0;
}

.search {
     display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
}

.search-box input {
  width: 70%;
  padding: 8px;
  border-radius: 8px;
  border: none;
}


.search-box button {
  background-color: #5568fe;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.main-weather {
  background: linear-gradient(135deg, #3643fc, #5a5bff);
  border-radius: 12px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 20px 0;
  text-align: center;
}


.days {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.days div {
  background: #25345a;
  padding: 10px;
  border-radius: 8px;
  margin: 5px 0;
  flex: 1;
  text-align: center;
}

.hourly ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hourly li {
  background: #25345a;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 8px;
  text-align: center;
}